# -*- coding: utf-8 -*-
#
# This file is part of Flask-Sitemap
# Copyright (C) 2014, 2015, 2016 CERN.
#
# Flask-Sitemap is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

include *.rst
include *.sh
include .coveragerc
include .lgtm MAINTAINERS
include LICENSE AUTHORS CHANGES
include docs/*.rst docs/*.py docs/Makefile docs/requirements.txt
include pytest.ini
include tests/*.py
include tox.ini
recursive-include docs/_templates *.html
recursive-include docs/_themes *.py *.css *.css_t *.conf *.html LICENSE README
recursive-include flask_sitemap *.xml
recursive-include tests *.xml
recursive-include .github/workflows *.yml
